{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-wrapper">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

    {% block carousel %}
    {% include 'includes/carousel-items.html' %}
    {% endblock %}
{% endblock %}

{% block content %}
    <div class="container">
        <!-- marketplace section content start -->
      <section>

            <div class="market-search rounded-pill mt-5">
                <form class="form" method="GET" action="{% url 'products' %}">
                    <div class="input-group w-70">
                        <input class="search-input form-control border border-success rounded-pill p-4" type="text" name="q" placeholder="find solutions">
                            <div class="input-group-append">
                                <button class="form-control form-control btn btn-black border border-0" type="submit">
                                    <span class="icon">
                                        <i class="fas fa-search fa-lg w-50" type="submit"></i>
                                    </span>
                                </button>
                            </div>
                    </div>           
                </form>
            </div> 

            <div class="pl-3">
                <h4 class="mt-5"><strong>Welcome to the Market place</strong></h4>
                <p class="text-muted mb-5 ">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis consequatur
                eligendi quisquam doloremque vero ex debitis veritatis placeat unde animi laborum
                sapiente illo possimus, commodi dignissimos obcaecati illum maiores corporis.
                </p>
            </div>

            <div class="row market-img img-fluid img-responsive my-0">
                <div class="col-md-6 ">                
                </div>
            </div>
         
      </section>
    </div>
    <!--third section content end-->
 {% endblock %}