<div class="toast alert-toast bg-success text-white" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
  <div class="toast-header">
    <strong class="mr-auto">Success!</strong>
  </div>
  <div class="toast-body bg-success">
      <div class="row">
          <div class="col">
            <p>{{ message }}</p>
          </div>
      </div>
      
     <!--Check if there is a grand total and if on profile page --->
     {% if grand_total and not on_profile_page %}
      <p class="bg-transparent text-dark py-2"> Basket has {{ product_count }} Item/Items</p>

        <div class="wishlist-alert-wrap">
          {% for item in wishlist_items %}
          <div class="row">
            <div class="col-3 my-2">
              {% if item.product.image %}
              <img class="w-100" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
              {% else %}
              <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
              {% endif %}
            </div>
            <div class="col-9">
              <h5 class="small my-0"><strong>{{ item.product.name }}</strong></h5>
              <p class="text-small">Qty : {{ item.quantity }}</p>
            </div>
          </div>
          {% endfor %}
        </div>

      <div class="row">
          <div class="col text-center bg-success">
              <a class="btn btn-white" href="{% url 'view_wishlist' %}" role="button">View bucket list</a>
          </div>
      </div>
      {% endif %}

      <button class="text-center bottom-toast w-100 bg-success">
        <span aria-hidden="true"></span>
            <i class="fas fa-times-circle close-icon"></i>
      </button>
  </div>
</div>